:root {
    --primary: #EC1D24;
    --secondary: #172469;
    --background: #ffffff;

}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(6, 17, 78), rgb(31, 31, 219), rgb(151, 152, 197));
    background-color: var(--background);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

/*all container design*/
.container {
    background-color: var(--background);
    margin-top: 50px;
    border: var(--primary) 5px solid;
}

/*header and logo design*/
h1 {
    color: var(--primary);
    font-size: 75px;
    text-align: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: 50px;
    float: left;
    display: flex;
}

.home-about {
    color: var(--secondary);
    font-size: 28px;
    text-align: center;
}

/*design for biography section*/
.info {
    color: var(--secondary);
}

/*all body text and design*/
h2, h4, p {
    color: var(--secondary);
    font-size: 24px;
    text-align: left;
    padding: 6px;
    margin: 0px;
}

h3 {
    color: var(--primary);
    text-align: center;
    margin-top: 0;
    flex: auto;

}

/*search button and input box design*/
.search {
    background-color: var(--background);
    float: right;
    height: 55px;
    width: 200px;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 18px;
    border-radius: 15px;
    
}

button {
    float:left;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 15px;
    text-decoration: none;
    
}

button a:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

/*about link section*/
.links {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.links a {
    color: var(--primary);
}